@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movie index";
}
<h1>@ViewData["Title"]</h1>
<table class="table">
    <tr>
        <th>รหัสภาพยนต์</th>
        <th>ชื่อภาพยนต์</th>
        <th>รูป</th>
        <th>เข้าฉายเมื่อ</th>
        <th>หมวดหมู่</th>
        <th>ความยาว (นาที)</th>
    </tr>
    <tr>
        <td>1</td>
        <td>9 ศาสตรา</td>
        <td>
            <img src="https://images.pexels.com/photos/2990/vintage-old-film.jpg?w=940&h=650&auto=compress&cs=tinysrgb" height="80px" />
        </td>
        <td>5 มกราคม 2561</td>
        <td>แอนิเมชัน</td>
        <td>107</td>
    </tr>
    <tr>
        <td>2</td>
        <td>อันธพาล</td>
        <td>
            <img src="https://images.pexels.com/photos/8827/road-man-lights-legs.jpg?w=940&h=650&auto=compress&cs=tinysrgb" height="80px" />
        </td>
        <td>14 มิถุนายน 2555</td>
        <td>แอ็คชัน / ชีวิต</td>
        <td>120</td>
    </tr>
</table>